<section id ="hero" style="background-color:  rgb(5, 119, 5)">
    <div class="">
        <h2>Welcome To Hospital Website</h2>
       <div>
           <img src="https://www.dreamstime.com/photos-images/doctor.html">
        </div>
       <div>
           <h5>About The Hospital</h5>
            <p>Hospital,an institution that is built,staffed,and euipped for the diagnosis of disease;for the treatment,both medical and surgical, of the sick and injured;and for their housing during this process.The modern hospital also often serves as a center for investigation and for teaching. </p>

        </div>
    </div>


</section>